{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{campaign}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <div class="navbar-nav" style="margin-left: 30rem">
     	<button type="button" class="btn btn-success" style="margin-left: .1rem">{% trans 'Save as draft' %}</button>
     	<button type="button" class="btn btn-success" style="margin-left: .1rem">{% trans 'Previous' %}</button>
     	<button type="button" class="btn btn-success" style="margin-left: .1rem">{% trans 'Next' %}</button>
     	<button type="button" class="btn btn-success" style="margin-left: .1rem">{% trans 'Cancel' %}</button>
     	<button type="button" class="btn btn-success" style="margin-left: .1rem">{% trans 'Submit' %}</button>
    </div>
  </div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-2" style="padding:0; ">
			<ul class="list-group">
			  <li class="list-group-item active">{% trans 'Audience' %}</li>
			  <li class="list-group-item">{% trans 'Mailing List Exclusion' %}/{% trans 'Count' %}</li>
			  <li class="list-group-item">{% trans 'Other' %}/{% trans 'Attachment' %}/ {% trans 'Dynamic Variable' %}</li>
			  <li class="list-group-item">{% trans 'Template' %}</li>
			  <li class="list-group-item">{% trans 'Schedule' %}/{% trans 'Co-Author' %}</li>
			  <li class="list-group-item">{% trans 'Preview' %}</li>
			  <li class="list-group-item">{% trans 'Approval Workflow' %}</li>
			</ul>
		</div>
		<div class="col-md-10">
			<div class="jumbotron" style="border: 1px solid #ddd;border-radius: 30px;margin-top: 1rem">
        <form method="POST" action="{% url 'search_mailing_list' %}">{% csrf_token %}
			  <div class="container">
          <div class="row">
            <input type="text" name="campaign" hidden="" value="{{campaign}}">
          <label>Entity</label>
          <select class="custom-select" id="entity" name="entity">
            <option value="">Select Entity</option>
          {% for source in sources %}
            <option value="{{source.source}}">{{source.source}}</option>
          {% endfor %}
          </select>
        </div>
          <div class="row">
    <div class="col-md-6">
          <label>Department P1</label>
          <select class="custom-select" id="id_p1" name="department_p1" multiple>
          </select>
        </div>
    <div class="col-md-6">
          <label>Department P2</label>
          <select class="custom-select" id="id_p2" multiple>
          </select>
        </div>
      </div>
          <div class="row">
    <div class="col-md-6">
          <label>Department M3</label>
          <select class="custom-select" id="id_m3" multiple>
          </select>
        </div>
    <div class="col-md-6">
          <label>Department M4</label>
          <select class="custom-select" id="id_m4" multiple>
          </select>
        </div>
        </div>
        <div class="row">
    <div class="col-md-6">
          <label>Department M5</label>
          <select class="custom-select" id="id_m5" multiple>
          </select>
        </div>
    <div class="col-md-6">
          <label>Department M6</label>
          <select class="custom-select" id="id_m6" multiple>
          </select>
			  </div>
      </div>
        <div class="row">
          <div class="col-md-6">
            <label>Generic Country</label>
            <select class="custom-select" id="id_generic_company" multiple>
            </select>
          </div>
        <div class="col-md-6">
          <label>Region</label>
          <select class="custom-select" id="id_region" multiple>
          </select>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <label>Country</label>
            <select class="custom-select" id="id_country" multiple>
            </select>
          </div>
        <div class="col-md-6">
          <label>Location</label>
          <select class="custom-select" id="id_location" multiple>
          </select>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <label>Status</label>
            <select class="custom-select" id="id_status" multiple>
            </select>
          </div>
        <div class="col-md-6">
          <label>Regular/Temporary Staff</label>
          <select class="custom-select" id="id_staff" multiple>
          </select>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <label>Manager/Non-Manager</label>
            <select class="custom-select" id="id_manager" name="manager" multiple>
            </select>
          </div>
        <div class="col-md-6">
          <label>Preferred Language</label>
          <select class="custom-select" id="id_preferred_language" name="preferred_language" multiple>
          </select>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <label>Staff Status</label>
            <select class="custom-select" id="id_staff_status" name="manager" multiple>
            </select>
          </div>
<!--         <div class="col-md-6">
          <label>Preferred Language</label>
          <select class="custom-select" id="id_staff" multiple>
          </select>
        </div> -->
      </div>

    </div>
    <button type="Submit" name="Submit">Search</button>
  </form>
			</div>
		</div>
	</div>
</div>

  <script src="{% static 'js/myapp/audience.js' %}"></script>
{% endblock  %}
