{% extends "base.html" %}
{% load static %}
{% load tz %}
{% load scheduletags i18n %}
{% block head_title %}Contact || {{ block.super }}{% endblock head_title %}
{% block content %}
<div class="container">
<div class="row">
   <div class="col-md-3" style="padding-left: 0;padding-right: 0">
      <div class="card">
         <h6 class="card-header">{% trans "Manage Campaign" %}</h6>
         <div class="card-body" style="padding: 0">
          <div class="row" style="padding-bottom: 5%">
            <div class="col-md-3 col-3" style="padding-left: 2rem;padding-top: 7rem">
              <p>23</p>
            </div>
            <div class="col-md-6 col-6">
            <img class="rounded p-3" src="/media/manage_campaign_icon.jpg" alt="Card image cap">
              
            </div>
            <div class="col-md-3 col-3"  style="padding-left: 2rem;padding-top: 7rem">
              <i class="icon-arrow_down" style="font-size: 140%;"></i>
            </div>
          </div>
         </div>
      </div>
   </div>
   <div class="col-md-3" style="padding-left: 0;padding-right: 0">
      <div class="card">
         <h6 class="card-header">{% trans "Manage Mailing List" %}</h6>
         <div class="card-body" style="padding: 0">
          <div class="row" style="padding-bottom: 5%">
            <div class="col-md-3 col-3" style="padding-left: 2rem;padding-top: 7rem">
              2
            </div>
            <div class="col-md-6 col-6">
            <img class="rounded p-3" src="/media/manage_mailing_list_icon.jpg" alt="Card image cap">
            </div>
            <div class="col-md-3 col-3" style="padding-left: 2rem;padding-top: 7rem">
              <i class="icon-arrow_down" style="font-size: 140%;"></i>
            </div>
          </div>
         </div>
      </div>
   </div>
   <div class="col-md-3" style="padding-left: 0;padding-right: 0">
      <div class="card">
         <h6 class="card-header">{% trans "Manage Templates" %}</h6>
         <div class="card-body" style="padding: 0">
          <div class="row" style="padding-bottom: 5%">
            <div class="col-md-3 col-3" style="padding-left: 2rem;padding-top: 7rem">
              2
            </div>
            <div class="col-md-6 col-6">
            <img class="rounded p-3" src="/media/manage_templates_icon.jpg" alt="Card image cap">
            </div>
            <div class="col-md-3 col-3" style="padding-left: 2rem;padding-top: 7rem">
              <i class="icon-arrow_down" style="font-size: 140%;"></i>
            </div>
          </div>
         </div>
      </div>
   </div>
   <div class="col-md-3" style="padding-left: 0;padding-right: 0">
      <div class="card">
         <h6 class="card-header">{% trans "Reports & Statistics" %}</h6>
         <div class="card-body" style="padding: 0">
          <div class="row" style="padding-bottom: 5%">
            <div class="col-md-3 col-3" style="padding-left: 2rem;padding-top: 7rem">
              12
            </div>
            <div class="col-md-6 col-6">
            <img class="rounded p-3" src="/media/manage_reports_icon.jpg" alt="Card image cap">
            </div>
            <div class="col-md-3 col-3" style="padding-left: 2rem;padding-top: 7rem">
              <i class="icon-arrow_down" style="font-size: 140%;"></i>
            </div>
          </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-8">
      <div class="card" style="max-height: 20rem">
         <div class="card-header" style="min-height: 2.2rem;max-height: 2.2rem;padding: 0.5rem">
           <h5> {% trans 'My Actions' %}</h5>
         </div>
         <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-10">
              {% trans 'Financial Services - Customer Value Proposition' %}</div>
              <div class="col-md-2 btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 1px 5px;border-radius: 5px">
                  <span class="icon-settings" aria-hidden="True"></span>
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <a class="dropdown-item" href="#">{% trans 'Edit' %}</a>
                  <a class="dropdown-item" href="#">{% trans 'Delete' %}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">{% trans 'Action' %}</a>
                </div>
              </div>
            </div>
              <!-- <br> -->
               <button type="button" class="btn btn-outline-primary" style="padding: 1px 5px;border-radius: 5px">{% trans 'Draft' %}</button>
            </li>
                        <li class="list-group-item">
              <div class="row" style="margin-top: 0">
                <div class="col-md-10">
              {% trans 'CommGen Introduction' %}</div>
              <div class="col-md-2 btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 1px 5px;border-radius: 5px">
                  <span class="icon-settings" aria-hidden="True"></span>
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <a class="dropdown-item" href="#">{% trans 'Edit' %}</a>
                  <a class="dropdown-item" href="#">{% trans 'Delete' %}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">{% trans 'Action' %}</a>
                </div>
              </div>
            </div>
               <button type="button" class="btn btn-outline-primary" style="padding: 1px 5px;border-radius: 5px">{% trans 'Draft' %}</button>
            </li>
                        <li class="list-group-item">
              <div class="row" style="margin-top: 0">
                <div class="col-md-10">
              {% trans 'Financial Services - Customer Value Proposition' %}</div>
              <div class="col-md-2 btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 1px 5px;border-radius: 5px">
                  <span class="icon-settings" aria-hidden="True"></span>
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <a class="dropdown-item" href="#">{% trans 'Edit' %}</a>
                  <a class="dropdown-item" href="#">{% trans 'Delete' %}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">{% trans 'Action' %}</a>
                </div>
              </div>
            </div>
               <button type="button" class="btn btn-outline-primary" style="padding: 1px 5px;border-radius: 5px">{% trans 'Draft' %}</button>
            </li>
         </ul>
      </div>
   </div>
   <div class="col-md-4" align="center" style="margin-top: 2rem">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
         <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{% trans 'My Calendar' %}</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">CommGen {% trans 'Calendar' %}</a>
         </li>
      </ul>
      <div class="tab-content" id="myTabContent" style="max-width: 20rem">
         <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
               {% myprevnext "home" calendar my_period "F Y"%}
                  {% my_month_table calendar my_period "small" %}
         </div>
         <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
               {% prevnext "home" calendar period "F Y"%}
                  {% month_table calendar period "small" %}
         </div>
      </div>
   </div>
</div>
</div>
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
        $().dropdown('toggle')
    </script>
<!-- <script>
    $("#id_prev").click(function () {
      var url = $("#id_prev").attr("load-calendar-url");

      $.ajax({
        url: url,
        success: function (data) {  
          $("#home").html(data);
        }
      });

    });

       $("#id_next").click(function () {
      var url = $("#id_next").attr("load-calendar-url");

      $.ajax({                   
        url: url,                   
        success: function (data) {
          $("#home").html(data);
        }
      });

    });

  </script> -->
{% endblock  %}